<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tutorials.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Tutorials.Properties.Settings>
            <setting name="FilePath" serializeAs="String">
                <value>H:\Git\SampleCodes\Tutorials\Tutorials\sample.txt</value>
            </setting>
        </Tutorials.Properties.Settings>
    </applicationSettings>
</configuration>